[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=root
Group=root

WorkingDirectory=/root/project/uro
Environment="PYTHONPATH=/root/project/uro"
ExecStart=/root/project/uro/venv/Scripts/python.exe /root/project/uro/main.py

[Install]
WantedBy=multi-user.target
